<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gossip Project</title>
  </head>
  <body>
    <div class="row mt-5 mb-3">
      <div class="col">
        <h1 class="text-center">Bienvenue</h1>
        <br>
        <h2 class="text-center">sur The Gossip Project</h2>
        <br><br>
        <h2 class='text-center'><a href="welcome/identification">Connexion</a></h2>
      </div>
    </div>
  </body>
</html>
